<h4><a href="/books">Book Index</a></h4>
<h4><a href="/libraries">Library Index</a></h4>
<h4><a href="/libraries/new">New Library</a></h4>

<h1>Libraries</h1>

<% @libraries.each do |library| %>
<h3><%= library.name %> - Created At: <%= library.created_at %></h3>
<% end %>