<form action="/libraries/new" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Library Name:</p>
  <input type="text" name="name">
  <p>Public Library?</p>
  <input type="text" name="public_library">
  <p>Employees:</p>
  <input type="text" name="employees"><br>
  <input type="submit" name="Create Library"/>
</form>